html,
body {
    height: 100%;
    margin: 0px;
    background-color: white;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto 40px auto;
    padding: 10px 5%;
    box-shadow: rgba(86, 86, 211, 0.534) 0px 13px 27px -5px, rgba(37, 97, 208, 0.416) 0px 8px 16px -8px;
    animation: mymove 3s infinite;
}

@keyframes mymove {
    50% {
        box-shadow: 10px 20px 30px rgba(11, 11, 231, 0.534);
    }
}



#navbar>div:nth-child(1) {
    display: none;
}

#navbar>div:nth-child(2) {
    cursor: pointer;
}

#navbar>div:nth-child(4) {
    width: 50%;
}

#navbar>div:nth-child(4)>input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgb(235, 129, 16);
    background-color: rgb(255, 255, 255);
    outline: none;
    color: black;
}

#navbar>div:nth-child(4)>input:hover {
    background-color: rgb(255, 255, 255);
}

#navbar>div:nth-child(5) {
    width: 55px;
    margin-left: 5px;
    cursor: pointer;
}

#navbar>div:nth-child(5)>img {
    width: 100%;
}

#navbar>div:nth-child(6)>button {
    color: white;
    background-color: rgb(44, 79, 220);
    border: 3px solid rgb(229, 165, 28);
    box-shadow: 1px 2px 7px 0 black;
    /* border: none; */
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
}

#navbar>div:nth-child(6)>button:hover {
    background-color: white;
    color: rgb(44, 79, 220);
    border: 3px solid rgb(229, 165, 28);
    border-radius: 10px;
    padding: 15px 20px;
}

#search_down {
    display: none;
}

#menu {
    display: block;
    position: fixed;
    height: 100%;
    width: 55%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 0px;
    display: none;
    z-index: 2;
}

#menu>div:nth-child(1) {
    margin: 30px 20px 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu>div:nth-child(1)>div:nth-child(2) {
    width: 25px;
}

#menu>div:nth-child(1)>div:nth-child(2)>img {
    width: 100%;
}

#menu>div:nth-child(2) {
    margin: 10px 0px 0px 40px;
}

#menu>div:nth-child(2)>ul>li {
    list-style-type: none;
    padding: 5px;
    margin: 25px 0px;
}

#menu>div:nth-child(2)>ul>li>a {
    text-decoration: none;
    color: rgb(126, 126, 126);
}

#dropdown_menu_close {
    cursor: pointer;
}

#dropdown_menu_open {
    cursor: pointer;
}

@media all and (max-width:1000px) {
    #navbar {
        width: 100%;
        padding: 10px 0px;
        margin-bottom: 0px;
        box-shadow: none;
    }

    #navbar>div:nth-child(1) {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }

    #navbar>div:nth-child(1)>img:nth-child(1) {
        margin-left: 15px;
    }

    #navbar>div:nth-child(1)>img:nth-child(2) {
        margin-left: 15px;
    }

    #navbar>div:nth-child(2) {
        display: none;
    }

    #navbar>div:nth-child(3) {
        display: none;
    }

    #navbar>div:nth-child(4) {
        display: none;
    }

    #navbar>div:nth-child(6) {
        display: none;
    }

    #navbar>div:nth-child(5) {
        margin-right: 15px;
    }

    #search_down {
        display: block;
        width: 80%;
        margin: 0px auto 20px auto;
    }

    #search_down>input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        border: 1px solid rgb(207, 207, 207);
        background-color: rgb(247, 247, 247);
        color: black;
    }
}


/* this is login signup */
#login_popup {
    width: 64vw;
    /* height: 80vh; */
    position: fixed;
    top: 10vh;
    left: 18vw;
    /* padding: 20px; */
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    display: none;
    background-color: white;
    z-index: 2;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


#login_popup>div:nth-child(1) {
    width: 45%;
    margin-left: 40px;
    margin-right: 20px;
}

#login_popup>div:nth-child(1)>img {
    width: 90%;
    margin-top: 6%;
    margin-bottom: 3%;
    display: block;
}

#login_popup>div:nth-child(2) {
    width: 45%;
    padding-top: 40px;
    padding-right: 50px;
}

#login_popup>div:nth-child(2)>label {
    margin-top: 20%;
    color: blue;
}

#login_popup>div:nth-child(2)>input {
    width: 100%;
    margin-top: 6px;
    padding: 7px;
}


#login_popup>div:nth-child(2)>button {
    width: 100%;
    margin-top: 12%;
    padding: 5px;
    border-radius: 8px;
    transform: translate(-0%, -190%);
    -ms-transform: translate(-0%, -190%);
    color: white;
    background-color: blue;
    border: 2px solid rgb(229, 165, 28);
}

#login_popup>div:nth-child(2)>button:hover {
    width: 100%;
    margin-top: 12%;
    padding: 5px;
    border-radius: 8px;
    transform: translate(-0%, -190%);
    -ms-transform: translate(-0%, -190%);
    color: blue;
    background-color: rgb(253, 253, 255);
    border: 2px solid rgb(229, 165, 28);
    cursor: pointer;
}

/* @media all and (max-width:900px) {
    #login_popup_img {
        display: none;
    }

    #login_popup>div:nth-child(2) {
        width: 70%;
        padding: 40px;
        margin: auto;
    }
} */


/* navbar ended here  */

#emptyCart {
    max-width: 400px;
    margin: 60px auto;
}

#emptyCart>img {
    width: 100%;
}

#emptyCart>h1 {
    text-align: center;
}

#emptyCart>p {
    text-align: center;
    color: rgb(124, 124, 124);
}

#emptyCart>div {
    width: 170px;
    margin: 10px auto;
}

#emptyCart>div>button {
    width: 100%;
    padding: 8px 2px;
    font-size: 16px;
    color: white;
    border: 3px solid rgb(2, 2, 2);
    background-color: rgb(146, 13, 88);
    box-shadow: 1px 2px 7px 0 black;
    /* border: none; */
    border-radius: 10px;
    padding: 8px 2px;
    cursor: pointer;
}

#emptyCart>div>button:hover {
    width: 100%;
    padding: 8px 2px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(2, 2, 2);
    background-color: rgb(226, 181, 206);
    box-shadow: 1px 2px 7px 0 black;
    /* border: none; */
    border-radius: 10px;
    padding: 8px 2px;
    cursor: pointer;
}

#cart {
    padding: 20px 0px;
    display:grid;
    margin-left: 80px;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.cartItem {
  align-items: center;
    padding: auto;
}


.remove_btn {
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    background-color: rgb(255, 6, 6);
    box-shadow: 1px 2px 7px 0 black;
    color: white;
    border-radius: 10px;
}
.remove_btn:hover {
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 7px 0 black;
    color: rgb(255, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

